@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;600;800&display=swap');

:root {
	color-scheme: light dark;

	--colour_background: light-dark(#FCFAFF,#000A16);
	--colour_accent_primary: light-dark(#396CB9,#11448E);
	--colour_accent_secondary: light-dark(#D8DCFF,#131129);
	--colour_accent_tertiary: light-dark(#9288EB,#6F63C3);

	--colour_text: light-dark(#020916,#EBF5FE);
	/*--colour_link: light-dark(#3c1568,#c99aff);*/
	--colour_link: light-dark(#113265,#9cc0ef);
	--colour_text_accent_primary: light-dark(var(--colour_background),var(--colour_text));
	--colour_text_accent_secondary: var(--colour_text);
	--colour_text_accent_tertiary: light-dark(var(--colour_background),var(--colour_text));

	--colour_link_hover: color-mix(in oklch, var(--colour_link) 95%, var(--colour_background) 5%);
	--colour_accent_primary_hover: color-mix(in oklch, var(--colour_accent_primary) 95%, light-dark(#000, #FFF) 5%);
	--colour_accent_secondary_hover: color-mix(in oklch, var(--colour_accent_secondary) 95%, light-dark(#000, #FFF) 5%);
	--colour_accent_tertiary_hover: color-mix(in oklch, var(--colour_accent_tertiary) 95%, light-dark(#000, #FFF) 5%);

	--spacing-xxxs: .125rem;
	--spacing-xxs: .25rem;
	--spacing-xs: .5rem;
	--spacing-s: .75rem;
	--spacing-m: 1rem;
	--spacing-l: 1.25rem;
	--spacing-xl: 1.75rem;
	--spacing-xxl: 2.5rem;
	--spacing-xxxl: 3.5rem;

	--ff: "Inter", sans-serif;

	color: var(--colour_text);
	font-family: var(--ff);
}

[data-theme="light"] {
	color-scheme: light;
}

[data-theme="dark"] {
	color-scheme: dark;
}

* {
	box-sizing: border-box;
	border-style: solid;
	border-width: 0;
}

p {
	line-height: 1.75rem;
	letter-spacing: 0.03rem;
	margin-top: var(--spacing-xxs);
}

a {
	color: var(--colour_link);
	font-weight: bold;
	transition: 0.2s;
}

a :hover {
	color: var(--colour_hover_link);
}

h1, h2, h3,
h4, h5, h6 {
	font-family:'Prompt', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	font-style: normal;
	font-weight: 800;
	letter-spacing: 0.1rem;
}

h1 {
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-xs);
}

h2, h3 {
	margin-top: var(--spacing-l);
	margin-bottom: var(--spacing-xxs);
	font-weight: 600;
	letter-spacing: 0.05rem;
}

h4, h5, h6 {
	margin-top: var(--spacing-m);
	margin-bottom: var(--spacing-xxs);
	font-weight: 600;
	letter-spacing: 0.05rem;
}

header h1 {
	font-size: var(--spacing-xxl);
	margin-top: 0;
	margin-bottom: calc(var(--spacing-l) * (-1));
}

ul, ol {
	margin-top: var(--spacing-xs);
	margin-bottom: var(--spacing-l);
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: var(--spacing-xs);
}

.left {text-align: left;}

.centre
{
	width: 100%;
	text-align: center;
	justify-content: center;
}

.vcentre-block
{
	display: block flex;
	align-items: center;
	flex-direction: column;
}

.indent
{
	padding-left: var(--spacing-xl);
}

header
{
	color: var(--colour-text);
	/*border-bottom: var(--colour_accent_primary) solid var(--spacing-xxs);*/

	margin-top: 0;
	padding-top: var(--spacing-m);
	padding-bottom: var(--spacing-m);

	/*margin-bottom: var(--spacing-l);*/
}

header a {
	text-decoration: none;
	color: inherit;
}

header
{
	border-bottom: var(--colour_accent_tertiary) dotted var(--spacing-xxxs);
	background-color: var(--colour_accent_secondary);
}

nav
{
	text-align: center;
	background-color: var(--colour_accent_secondary);
	padding: 0;
}

nav + nav
{
	background-color: color-mix(in oklab, var(--colour_accent_secondary) 66%, var(--colour_background) 34%);
}

nav > a
{
	color: var(--colour_text_accent_primary);
	padding: var(--spacing-m);
	margin: 0;
	text-decoration: none;
	display: inline-block;
	box-sizing: border-box;
}

nav + nav > a
{
	padding: var(--spacing-s);
	font-size: 0.75rem;
}

nav > a:hover
{
	background-color: var(--colour_accent_primary);
}

nav > a.current-page
{
	border-bottom: var(--colour_accent_tertiary) solid var(--spacing-xxs);
	padding-bottom: calc(var(--spacing-m) - var(--spacing-xxs));
}

nav + nav > a.current-page
{
	padding-bottom: calc(var(--spacing-s) - var(--spacing-xxs));
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--colour_background);
	padding-top: 0;
}

main {
	flex-grow: 1;
	min-width: min-content;
	max-width: min(100vh,100%);
    width: 100%;
	padding: 0 0 0 0;
	border: 0;
	margin: 0 auto 2em;
}

article > p {
	text-align: justify;
}

.para {
	margin-bottom: 1em;
}

article {
    max-width: 22cm;
    margin: 1.5em auto 1em auto;
    padding: 0 2em;
	align-self: center;
}

footer {
	>* {
		margin-top: var(--spacing-xs);
		margin-bottom: var(--spacing-l);
	}
	background-color: var(--colour_accent_secondary);
	border-top: var(--colour_accent_tertiary) dotted var(--spacing-xxxs);

	padding: var(--spacing-l) var(--spacing-xxxl);
	margin: var(--spacing-xxl) 0 0 0;
	
	color: var(--colour_text_accent_secondary);
	text-align: center;
}

.linkicons
{
	display: flex block;
	align-items: center;
	justify-content: center;

	height: 1.2em;
	column-gap: 0.6em;
}

.linkicons > *
{
	color: var(--colour_text_accent_secondary);
	display: flex inline;

	height: 1.2em;
	width: 1.2em;
}

.license img
{
	vertical-align: -8%;
}

.linkicons img
{
	height: 100%;
}

figure > img
{
	display: block;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

figcaption
{
	text-align: center;
	font-style: italic;
	margin-top: var(--spacing-xs);
	color: color-mix(in oklab, var(--colour_text_accent_primary) 60%, var(--colour_background) 40%);
}

.shrinkwrap
{
    width: fit-content;
    height: fit-content;
    display: inline-block;
}

.light
{
    color: #505050;
}

.tiles
{
	display: flex;
	width: 100%;
	padding: var(--spacing-s) var(--spacing-m);

	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.tiles > * {
	box-shadow: rgba(0,0,0,0.3) 0 0 20px;
	margin: 0.2em;
}

li {
	margin-bottom: var(--spacing-s);
}

button {
	background-color: var(--colour_accent_primary);
	border-radius: var(--spacing-xxs);
	padding: var(--spacing-xxs) var(--spacing-s);
}

button:hover
{
	background-color: var(colour_accent_primary_hover);
}

.frame {
	border-radius: var(--spacing-xs);
	padding: var(--spacing-l);
	margin: var(--spacing-m);
	border-width: 1px;
	border-color: var(--colour_accent_primary);
}

.columns {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--spacing-m);
	margin: var(--spacing-m);
}

.columns > * {
	flex: 1 1 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
}

input[type=color]::-moz-color-swatch {
	border: 2px solid oklch(0.2 0.038 277.496);
	border-radius: 0.1cm;
}

input[type=color], input[type=color]::-moz-color-swatch {
	background-color: transparent;
}

input[type=number]
{
	background-color: oklch(0.2 0.038 277.496);
	padding: 0.3em 0.6em;
	border: none;
	width: 3rem;
	border-radius: 0.2rem;
	text-align: right;
}

input[type=number]:not([step][step=any]) {
	width: 4.5rem;
	text-align: left;
}

input[type=number][step=any]::-webkit-outer-spin-button,
input[type=number][step=any]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number][step=any] {
	-moz-appearance: textfield;
	appearance: textfield;
}

label
{
	margin-right: 0.3cm;
	text-align: right;
}

.settings-box
{
	display: inline-block;
	padding: 0;
	width: 100%;
}

.settings-box > *
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	gap: var(--spacing-m);

	height: 0.8cm;
	margin: 0;
	line-height: 0;
}

.settings-box > * > *
{
	flex: 0 1 auto;
	display: inline-block;
	vertical-align: middle;
}

.settings-box label
{
	flex: 0 0 auto;
	white-space: nowrap;
	text-align: right;
	display: inline-block;
}

.settings-box input[type=range][class=slider]
{
	flex: 4 1 auto;
	width: 100%;
	min-width: 15rem;
}

.settings-box input[type=number]
{
	flex: 0 0 auto;
	min-width: 3.75rem;
}

.settings-box input[type=number],
.settings-box select
{
	background-color: oklch(0.2 0.038 277.496);
	border: none;
	border-radius: 0.1cm;
	padding: 0.3em 0.6em;
}

.settings-box input[type=checkbox]
{
	flex: 0 1 auto;
}

.settings-box h3
{
	text-align: center !important;
	width: 100% !important;
	padding: 0;
	margin: auto;
	line-height: 0.7cm;
}

.slider-box
{
	display: grid;
	padding: 0;
	width: 100%;
	grid-template-columns: max-content auto max-content;
	grid-auto-rows: 0.8cm;
	column-gap: var(--spacing-m);
	vertical-align: middle;
	text-align: right;
}

.slider-box > * {
	line-height: 0;
	margin-top: auto;
	margin-bottom: auto;
}

input:invalid
{
	border: 1px solid red;
}